
@{
    ViewData["Title"] = "Index3";
}

<h1>Index3</h1>

<script src="~/lib/jquery/dist/jquery.min.js"></script> 
<script type="text/javascript">
    $(document).ready(function () {
        alert("Welcome to Jquery..."); 
    })  
</script>